#kit-mensal {
  padding-top: 235px;
  
  @media (width <= 376px) {
    padding-top: 104px;
  }

  & header {
    margin-bottom: 88px;

    @media (width <= 376px) {
      margin-bottom: 64px;
    }
    display: flex;
    flex-direction: column;
    align-items: center;

    & .kit-title {
      display: flex;
      align-items: center;
      gap: 1rem;

      @media (width <= 376px) {
        gap: 0.75rem;
      }

      & img {
        width: 2rem;
        height: 2rem;

        @media (width <= 376px) {
          width: 1.25rem;
          height: 1.25rem;
        }
      }
    }
  }

  & .book {
    height: 1000px;
    padding-top: 134px;
    padding-bottom: 169px;
    position: relative;
    
    @media (width <=376px) {
      height: 350px;
      padding-top: 51px;
      padding-bottom: 39px;
    }

    &:hover {
      @media (width > 376px) {
        & .book-animation1 {
          animation-name: book1Animation;
          animation-duration: 2s;
          animation-fill-mode: forwards;
        }
        & .book-animation2 {
          animation-name: book2Animation;
          animation-duration: 2s;
          animation-fill-mode: forwards;
        }
        & .book-animation3 {
          animation-name: book3Animation;
          animation-duration: 2s;
          animation-fill-mode: forwards;
        }
      }

      @media (width <= 376px) {
        & .book-animation1 {
          animation-name: book1Animation-mobile;
          animation-duration: 2s;
          animation-fill-mode: forwards;
        }
        & .book-animation2 {
          animation-name: book2Animation-mobile;
          animation-duration: 2s;
          animation-fill-mode: forwards;
        }
        & .book-animation3 {
          animation-name: book3Animation-mobile;
          animation-duration: 2s;
          animation-fill-mode: forwards;
        }
      }
    }
    
    & img.main-book {
      position: absolute;
      left: 30%;
      width: 467px;
      height: 617px;
      z-index: 1;
      
      @media (width <= 376px) {
        width: 157px;
        height: 207px;
      }
    }

    & .book-animation1 {
      position: absolute;
      transform: translateX(305%) translateY(100%);

      @media (width <= 376px) {
        transform: translateX(205%) translateY(150%);
      }

      & img.arrow-1 {
        width: 175px;
        height: 30px;
        transform: translateY(50%);
        @media (width <= 376px) {
          width: 59px;
          height: 10px;
          transform: translateX(45%) translateY(15%);
        }
      }

      & p {
        transform: translateX(-35%);
        @media (width <= 376px) {
          transform: translateX(-12%) translateY(-10%);
          font-size: 10px;
        }
      }
    }

    & .book-animation2 {
      position: absolute;
      transform: translateX(250%) translateY(60%);

      @media (width <=376px) {
        transform: translateX(225%) translateY(50%);
      }

      & img.arrow-2 {
        width: 105px;
        height: 127px;
        transform: translateX(-50%) translateY(-45%);

        @media (width <= 376px) {
          width: 35px;
          height: 42px;
          transform: translateX(-70%) translateY(-15%);
        }
      }

      & img.pin {
        width: 222px;
        height: 254px;
        transform: translateX(-5%) translateY(-45%) rotate(-8deg);

        @media (width <= 376px) {
          width: 75px;
          height: 85px;
          transform: translateX(-13%) translateY(-25%) rotate(-8deg);
        }
      }

      & p {
        transform: translateX(-25%) translateY(-300%);

        @media (width <=376px) {
          transform: translateX(-55%) translateY(-90%);
          font-size: 10px;
        }
      }
    }

    & .book-animation3 {
      position: absolute;
      transform: translateX(440%) translateY(-15%);
      scale: 0.7;

      @media (width <= 376px) {
        transform: translateX(190%) translateY(-21%);
      }

      & img.bookmark1 {
        width: 172px;
        height: 536px;
        transform: translateX(5%) translateY(-103%) rotate(12deg);
        @media (width <= 376px) {
          width: 58px;
          height: 180px;
          transform: translateX(30%) translateY(-95%) rotate(12deg);
        }
      }

      & img.bookmark2 {
        width: 172px;
        height: 536px;
        transform: translateX(65%) translateY(15%) rotate(20deg);
        
        @media (width <= 376px) {
          width: 58px;
          height: 180px;
          transform: translateX(90%) translateY(25%) rotate(20deg);
        }
      }

      & img.arrow-3 {
        width: 144px;
        height: 150px;
        transform: translateX(60%) translateY(-350%);
        @media (width <=376px) {
          width: 48px;
          height: 50px;
          transform: translateX(110%) translateY(-320%);
        }
      }

      & p {
        transform: translateX(5%) translateY(-2300%);

        @media (width <= 376px) {
          font-size: 10px;
          transform: translateX(5%) translateY(-1100%);
        }
      }
    }
  }
}

@keyframes book1Animation {
  to {
    transform: translateX(145%) translateY(-100%);
  }
}

@keyframes book1Animation-mobile {
  to {
    transform: translateX(45%) translateY(-100%);
  }
}

@keyframes book2Animation {
  to {
    transform: translateX(110%) translateY(105%);
  }
}

@keyframes book2Animation-mobile {
  to {
    transform: translateX(95%) translateY(80%);
  }
}

@keyframes book3Animation {
  to {
    transform: translateX(440%) translateY(-7%);
    scale: 1;
  }
}

@keyframes book3Animation-mobile {
  to {
    transform: translateX(206%) translateY(-4%);
    scale: 1;
  }
}